.App {
  text-align: center;
  padding: 50px;
  background-image: url('https://i.pinimg.com/originals/7d/79/30/7d7930908403f14a87a17984545a745b.jpg'); /* Replace 'your-star-wars-background.jpg' with the URL or path to your chosen Star Wars background image */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.planet-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.planet-list li {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.planet-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.planet-list p {
  margin: 5px 0;
}
