#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  text-align: center;
  padding: 50px;
  min-height: 100vh;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.planet-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.planet-list li {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.planet-list h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.planet-list p {
  margin: 5px 0;
}
